body {
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    line-height:1.3;
    background-color: black;
}

p {
    color: white;
}

.errthangaboutme{
    text-align: left;
}

.errthangaboutme img{
    max-width: 200px;
    float:left;
    padding-right:20px;
}

header {
    background-color:#9EC5AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:1%;
}

.temi {
    background-color:#01200F;
    text-indent:50px;
    margin-left: -15px;
    width: 475px;
}

nav ul{
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color:white;
    font-weight: bold;
    border-bottom:3px solid #fff;
    padding:5px;
    margin:10px;
}

.SubImage{
    display: flex;
    justify-content: flex-end;
}

.SubImage img{
    width: 100%;
    height: 200px;
    position:relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.container > section {
    background-color:#011502;
    padding:20px;
}

.aboutmemain{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    border-right-style: solid;
    border-color: black;
    border-width: 5px;
}

.work{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    border-right-style: solid;
    border-color: black;
    border-width: 5px;
}

.contact{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 25px;
    display: inline;
    justify-content: flex-end;
    border-right-style: solid;
    border-color: black;
    border-width: 5px;
}

.TopRight{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.MiddleRight{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.BottomRight{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    min-width: 300px;
    flex-direction: row;
}

#horizontal{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

ul #horizontal li{
        display: inline;
        justify-content: space-between;
        min-width: 300px;
        font-weight: bold;
        border-bottom:3px solid black;
        padding:5px;
        margin:10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.grid img{
    height:100%;
    width:100%;
}

#link1 {
    position: relative;
    top: -30%;
    left: 16px;
    color: white;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Image2{
grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#Image3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#Image4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#Image5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#Image6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
 